

<div class="container">
    <form role="form" name="createForm" id="createForm" class="acitveForm" class="form-inline" novalidate>
        <fieldset ng-disabled="disableItemGroupForm" disabled="disabled">
            <legend translate>
                RecruitmentLicenseView.Title
            </legend>
            <div class="row paaasriuy2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4" for="FieldItem" translate>RecruitmentLicenseView.FieldItem</label>
                        <div class="col-md-8">
                            <!-- <pn-combo-box data="FieldItems" ng-model="RecruitmentLicense.FieldItemsID" enabled="disableCtrRecruitmentLicenseForm" /> -->
                           <pn-select id="FieldItem" name="FieldItem" ng-disabled="disableCtrRecruitmentLicenseForm"
                                       custom-select="F.FieldItemId as F.Value for F in FieldItems | filter: { Value : $searchTerm }"
                                       ng-model="RecruitmentLicense.FieldItemsID" autofocus pn-required required-message="مرجع صادر کننده خالی است"></pn-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paaasriuy2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4" for="NO" translate>RecruitmentLicenseView.NO</label>
                        <div class="col-md-8">
                            <pn-textbox name="NO" id="NO" ng-model="RecruitmentLicense.NO" ng-disabled="disableCtrRecruitmentLicenseForm" pn-required required-message="شماره مجوز خالی است" class="textBox"></pn-textbox>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4" for="Subject" translate>RecruitmentLicenseView.Subject</label>
                        <div class="col-md-8">
                            <pn-textbox id="Subject" name="Subject" ng-model="RecruitmentLicense.Subject" ng-disabled="disableCtrRecruitmentLicenseForm" pn-required required-message="موضوع خالی است" class="textBox"></pn-textbox>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row paaasriuy2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4" for="SolarDate" translate>RecruitmentLicenseView.Date</label>
                        <div class="col-md-8">
                            <pn-date-picker id="SolarDate" name="SolarDate" ng-model="RecruitmentLicense.SolarDate" ng-disabled="disableCtrRecruitmentLicenseForm" pn-required required-message="تاریخ صدور مجوز خالی است"></pn-date-picker>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4" for="RecordDate" translate>RecruitmentLicenseView.RecordDate</label>
                        <div class="col-md-8">
                            <pn-date-picker id="RecordDate" name="RecordDate" ng-model="RecruitmentLicense.SolarRecordDate" ng-disabled="disableCtrRecruitmentLicenseForm" pn-required required-message="تاریخ ثبت مجوز خالی است"></pn-date-picker>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row paaasriuy2">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2" for="Comments" translate>RecruitmentLicenseView.Comments</label>
                        <div class="col-md-10 paddleftr">
                            <textarea id="Comments" name="Comments" ng-model="RecruitmentLicense.Comments" ng-disabled="disableCtrRecruitmentLicenseForm" ></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <pn-gridview config="gridConfig"
                 class="k-gridwithheader"
                 columns="gridColumns"
                 schema="gridSchema"
                 api="gridApi"
                 on-kendo-data-bound="grid_onDataBound(kendo)"
                 selecteditems="selectedItems">
    </pn-gridview>
</div>

