
<div class="container acitveForm ma2">
    <fieldset class="period-pad listview">
        <legend translate>period.officesList</legend>
      
            <div class="col-md-3" id="grid2">
            <pn-gridview config="gridConfig2"
                         class="k-gridwithheader"
                         columns="gridColumns2"
                         schema="gridSchema2"></pn-gridview>
            </div>

        <div class="col-md-9 period-list" id="grid">

            <pn-gridview config="gridConfig"
                         class="k-gridwithheader"
                         columns="gridColumns"
                         schema="gridSchema"></pn-gridview>

            </div>


        <div class="clr"></div>
    </fieldset>
    <div class="clr"></div>
</div>


















