<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="k-rtl">
                <!--<pn-date-picker></pn-date-picker>
                <pn-date-picker en></pn-date-picker>
                <pn-calendar></pn-calendar>
                <pn-calendar en></pn-calendar>
                <pn-richtext></pn-richtext>-->
                <!--<pn-spliter>
                    <div>
                        <p>Content on the left.</p>
                        <p>On the other side we have remote-loaded content.</p>
                    </div>
                    <div>
                        <h2>cool</h2>
                    </div>
                </pn-spliter>
                <div kendo-splitter k-panes="[null, null]" k-orientation="horizontal">
                    <div>
                        <p>Content on the left.</p>
                        <p>On the other side we have remote-loaded content.</p>
                    </div>
                    <div>
                        <h2>cool</h2>
                    </div>
                </div>-->

                <pn-treelist config="treeListConfig"
                             class="k-gridwithheader"
                             selecteditems="selectedItems">
                </pn-treelist>
            </div>>

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>


