
<div>
    <div class="container formulaview-css">
        <div class="row">
            <div class="col-xs-15 testfourmul-marbo">
                <div class="row testfourmul-mar">
                    <div class="col-xs-2"><pn-mathematical class="mathematical" formula="frm1"></pn-mathematical></div>
                    <div class="col-xs-4"> <pn-operand formula="frm1"></pn-operand></div>
                    <div class="col-xs-4"> <pn-formula-toolbar formula="frm1"></pn-formula-toolbar></div>
                </div>
            </div>
            <div class="col-xs-6 testfourmul-mar">
                <formula id="frm1"> </formula>
            </div>
            <div class="col-xs-2">
                <pn-variable class="varriable" formula="frm1"></pn-variable>
            </div>
            <div class="col-xs-2">
                <field class="varriable" formula="frm1"></field>
            </div>
        </div>

    </div>
</div>

