<div class="container">
    <form role="form" name="createForm" id="createForm" class="acitveForm" class="form-inline" novalidate>
  <div class="col-md-6">
            Name : <pn-textbox></pn-textbox>
        </div>

        <div class="row">
            <div class="col-md-12">
                <fieldset class="patopparlef2">
                    <legend>لیست داده ها</legend>
                    <div class="col col-md-12 ma3">
                        <pn-gridview config="gridConfig"
                                     class="k-gridwithheader"
                                     columns="gridColumns"
                                     schema="gridSchema"
                                     api="gridApi"
                                     on-kendo-data-bound="grid_onDataBound(kendo)"
                                     on-kendo-ready="onKenoReady(kendo)"
                                     selecteditems="selectedItems">
                        </pn-gridview>
                    </div>
                </fieldset>
            </div>
        </div>
      
    </form>

</div>