
@font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'), local('B Yekan'), local('B Yekan'), url(../fonts/Yekan.woff) format('woff');
}
*{
    font-family: 'Yekan';
}

/*****/
    .k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
        padding-right: 0px !important;
    }

    .k-checkbox:indeterminate + .k-checkbox-label:after {
        margin-left: 2px !important;
        margin-top: 8px !important;
    }

    .k-treeview span.k-in {
        margin-bottom: -3px !important;
        margin-top: 7px !important;
        height: 20px !important;
    }

    .rootfolder {
        position: relative !important;
        padding: 0px 2px !important;
    }

    .openFolder {
        color: orange !important;
    }

    .groupRole {
        color: orange !important;
    }

    .role {
        color: blue !important;
    }

    .k-sprite {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    .rootTreeNode {
        color: red !important;
        font-size: 18px !important;
    }

    .k-rtl .k-treeview .k-sprite {
        padding-left: 5px !important;

    }
/****/
#body {
    font-family: 'Yekan';
    /*border-top: 1px solid #8b9097;*/
    height: 83%;
    width: 84%;
    position: fixed;
    left: 0;
    background-color: #ddd;
    padding: 10px;
    /*overflow: scroll;*/
}

.accordion-section-control {
    background-color: #eaedf1;
    text-align: center;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
}

.accordion-section-close-button {
    cursor: pointer;
    margin-left: 1px;
    margin-top: 3px;
    margin-right: 2px;
    text-align: center;
    float: right;
}

#accordions {
    width: 250px;
    height: 650px;
    margin-right: 2px;
    margin-top: 2px;
    padding-top: 5px;
    position: fixed;
}


.glyphicon {
    font-size: 12px;
}


input[type=text] {
    font-family: Mitra;
    font-size: 17px;
}


body {
    direction: rtl;
    font-family: 'Yekan';
    font-size: 17px;
}

.menu {
    border: 1px solid #ddd;
    height: 40px;
    cursor: pointer;
    margin: 5px;
    float: left;
}

    .menu:hover {
        background-color: rgb(205, 230, 247);
    }

.tab-pane {
    height: 50px !important;
}

.tab-content {
    border-bottom: 1px solid #ddd;
}

body {
    direction: rtl;
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Yekan';
    font-size: 13px;
}

.accordion {
    overflow: hidden;
    /*box-shadow: 0px 1px 3px rgba(0,0,0,0.25);*/
    /*border-radius: 3px;*/
    background: #f7f7f7 !important;
    border-left: 1px solid #eee;
    height: 100%;
}
/*----- Section Titles -----*/
.accordion-section-title {
    text-align: center;
    width: 100%;
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    /*background: #333;*/
    transition: all linear 0.15s;
    /* Type */
    font-size: 1.200em;
    /*text-shadow: 0px 1px 0px #1a1a1a;*/
    color: #fff;
}

    .accordion-section-title.active, .accordion-section-title:hover {
        text-decoration: none;
    }

.accordion-section:last-child .accordion-section-title {
    /*border-bottom: none;*/
    border: 1px solid #b6babf;
}

/*----- Section Content -----*/
.accordion-section-content {
    text-align: justify;
    padding: 5px;
    height: 520px;
    display: none;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
}

.panel-body {
    /*overflow: scroll;*/
}


.panel {
    border-radius: 0px !important;
}

.panel-primary > .panel-heading {
    /*background-color: #eaedf1 !important;
    color: rgb(68, 68, 68);*/
    /*border:1px solid #b6babf !important;*/
}


.panel-heading {
    padding: 2px !important;
    padding-right: 7px !important;
}

.form-group {
    padding-right: 2px !important;
}

.panel-primary {
    border: 1px solid #eaedf1;
}


.language {
    text-decoration: none;
}

    .language:hover {
        text-decoration: none;
    }


.ribbon-tab-header-visibile {
    display: none;
}

.k-state-focused {
    border: none !important;
}

/ /******************************************creatItemCode*******************/
.ItemGroup {
    width: 100%;
    height: inherit;
    display: inline-block;
}

.ItemGroupGrid1 {
    width: 49%;
    height: inherit;
    display: inline-block;
}

.ItemGroupGrid2 {
    width: 50%;
    height: inherit;
    display: inline-block;
    float: left;
}

/*************************************RecruitmentLicense***********************************************/
.div_FieldItem {
    left: 100px;
    width: 300px;
}

.k-panelbar-collapse, .k-panelbar-expand {
    left: 4px !important;
}

#body {
    border-top: none !important;
}


.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #5d5d5d;
}

.k-state-selected {
    background-color: #e1e1e1 !important;
}

.k-widget {
    border: none !important;
}

.k-header {
    background-color: #f7f7f7 !important;
    border-bottom: 1px solid #eee !important;
}


.k-panel > .k-item > .k-link {
    border-color: #EEE !important;
}

.k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
    border-color: #eee !important;
}

.k-panelbar > .k-item > .k-link {
    border-color: #eee !important;
}

.k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected {
    color: #4b8cf7 !important;
}

.k-panelbar-expand {
    left: 4px !important;
}

.accordion {
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.k-state-hover:hover {
    background-color: #3476e4 !important;
    color: #fff !important;
}
/******/

.container {
    width: inherit !important;
    /*padding-bottom: 40px;*/
}

.pn-tab-header ul li {
    border-radius: 0px !important;
}

.pn-tabs {
    background-color: #e1e1e1 !important;
    /* position: fixed !important;*/
}

.uiTabs {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #fff !important;
    border: none !important;
}

.pn-tab-container {
    border: none !important;
}

a.pn-tab-header-link {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 20px !important;
    font-family: Mitra !important;
    color: #292929 !important;
}

.pn-tab-list li {
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}

form .acitveForm fieldset {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: none !important;
    margin-top: 30px !important;
}

.pn-tab-header ul li {
    background-color: #fff;
    padding-bottom: 6px !important;
    border-left: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
}

ul.pn-tab-list img {
    float: right !important;
    border-radius: 2px;
    background-color: #f2f2f2;
    border: 1px solid #eee;
    line-height: 16px !important;
    text-align: center !important;
    margin-left: 10px !important;
}

.pn-tab-list li {
    margin-top: 0px !important;
}

.pn-tab-header ul li a {
    padding-left: 10px !important;
    display: inline-block;
    padding-top: 5px !important;
    color: #003333 !important;
}

.pn-select > .dropdown-menu > ul > li > a {
    font-size: 13px !important;
}

.ng-scope .active {
    border-top: 2px solid #f00b00 !important;
    padding-bottom: 5px !important;
}

fieldset {
    padding-right: 0px !important;
    padding-bottom: 25px;
    margin-top: 8px !important;
    background-color: #f9f9f9 !important;
    border-radius: 2px !important;
}

legend {
    color: #fff !important;
    font-size: 13px !important;
    text-align: right !important;
    margin-bottom: 9px !important;
    background-color: #0078d7 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-right: 15px !important;
    height: auto !important;
    width: auto !important;
    padding-bottom: 5px !important;
    padding-top: 3px !important;
    border: 1px solid #f7f7f7 !important;
}

label {
    color: #003f59 !important;
    display: inline-block;
    /*max-width: 100%;*/
    font-weight: normal !important;
    color: #5a5a5a !important;
    font-size: 13px !important;
    /*margin-bottom: 10px !important;*/
    direction: rtl !important;
    text-align: right !important;
    /*  float: right !important;*/
    /*   margin-left: 4px !important;*/
    border: none !important;
    /* width: auto !important;*/
}

.pn-select > a.dropdown-toggle {
    background: #fff !important;
    height: 26px !important;
    border: 1px solid #dddada !important;
}

/* input[type="text"], select, input[type="number"], input[type="input"] {
        width: 71% !important;
        float: left !important;
    }*/



/*input[type="text"], select, input[type="number"], input[type="input"] {
        height: 26px !important;
        width: 71% !important;
        float: right !important;
        direction: rtl !important;
    }*/

fieldset {
    margin-bottom: 10px !important;
    border: 1px solid #e4e0e0 !important;
    border-radius: 0px !important;
    background-color: #EAECEE !important;
}

.k-grid-content {
    min-height: 220px !important;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}


.pn-tab-container {
    background-color: #fff !important;
}

.form-control {
    background: #fff !important;
    border: 1px solid #dddada !important;
}

    .form-control[readonly] {
        color: #00435e !important;
        border-radius: 2px !important;
        background-color: #fff !important;
        opacity: 1;
        border: 1px solid #dddada !important;
        font-size: 13px !important;
        box-shadow: none !important;
    }

.pn-select {
   /* width: 80% !important;*/
}

    .pn-select > .dropdown-menu > ul > li > a:hover {
        background-color: #3476e4 !important;
    }



.k-pager-wrap {
    background: #f2f2f2 !important;
}

.k-widget {
    border: 1px solid #eee !important;
}


.uiTabs {
    height: 100% !important;
}

.k-pager-wrap > .k-link {
    border-radius: 2px !important;
}

.k-pager-numbers .k-state-selected {
    border-radius: 2px !important;
}

.k-grouping-row td, .k-resize-handle-inner, td.k-group-cell {
    background-color: #f5f5f5 !important;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    background-color: #179BD9 !important;
}

.k-pager-wrap .k-link {
    border-color: #3476e4 !important;
}

.k-state-selected {
    border: 1px solid #eee !important;
    background-color: #3476e4:;
}

.k-grid-footer td, .k-group-footer td, .k-grouping-row td {
    border-color: #eee !important;
}


.k-grid-footer td, .k-group-footer td, .k-grouping-row td {
    font-size: 13px !important;
    color: #6a6a6a !important;
    font-weight: normal !important;
}

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
    font-size: 13px !important;
    color: #5a5a5a !important;
}

.k-grid td {
    border-style: solid;
}




.k-panel > li.k-item {
    border-bottom: 1px dotted #eee !important;
}


.k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
    border-color: #e4e0e0 !important;
}

.k-pager-numbers .k-link {
    border-radius: 2px !important;
}

.pn-select > .dropdown-menu > ul {
    margin-top: 1px !important;
}

#ribbon .ribbon-section-sep {
}

#ribbon {
    padding-top: 0px !important;
    border-bottom: 0px !important;
}

    #ribbon .ribbon-tab-header.sel, #ribbon .ribbon-tab-header.sel:hover {
        border-top: 4px solid #4d90fe !important;
        /*  border-right:1px solid #eee;*/
    }

#body {
    border-top: 1px solid #eee !important;
}

.accordion {
}

ul.k-widget {
    width: 100% !important;
}

#ribbon .section-title {
    bottom: -11px !important;
}

.k-panelbar-collapse, .k-panelbar-expand {
    left: 4px !important;
    right: auto !important;
}

.pn-tab-header ul li a {
    padding-left: 10px !important;
    font-size: 15px !important;
    font-family: 'Yekan' !important;
    color: #003333 !important;
}

.pn-select-search input {
    width: 100% !important;
    background-color: #f2f2f2 !important;
    border-radius: 0 !important;
    border: 1px solid #eee !important;
}

.pn-select > a.dropdown-toggle > span {
    font-size: 13px !important;
    color: #00435e !important;
}

input[type=text] {
    font-family: 'Yekan';
}

.form-control {
    font-size: 13px !important;
    font-family: 'Yekan';
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: #f2f2f2;
}

.k-rtl .k-pager-wrap > .k-link {
    background-color: #fff !important;
    border: 1px solid #eee !important;
}

.k-pager-sizes {
    color: #444444 !important;
    font-family: 'Yekan' !important;
}

.k-pager-info {
    font-family: 'Yekan' !important;
}

.k-pager-wrap {
    color: #444 !important;
}

.k-grouping-row + tr td {
    border-bottom-width: 1px;
}

.k-grid tbody td:first-child {
    /*border-bottom-width:1px ;*/
}

.k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected {
    background-color: #e1e1e1 !important;
    box-shadow: none !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
    border-right: 3px solid #3476e4 !important;
}

.k-state-active {
    background-color: springgreen !important;
}

    .k-state-active:hover {
        background-color: red !important;
    }

textarea {
    background-color: #fff !important;
    border: 1px solid #dddada !important;
}

.k-widget {
   /* height: auto !important;*/
}

.pn-tab-header {
    position: relative;
}

.modal-header {
    background-color: #f9f9f9 !important;
}

.btn-primary {
    background-color: #3476e4 !important;
    border-color: #eee !important;
}

.profile-content {
    background-color: #fff !important;
}

.modal-body p {
    font-family: 'Yekan' !important;
    font-size: 15px !important;
    font-weight: normal !important;
    color: #797979;
}

.k-pager-wrap {
    background-color: #eaecee !important;
    border: 1px solid #e4e0e0 !important;
}

.btn-primary {
    font-family: 'Yekan';
}

.modal-header {
    font-family: 'Yekan' !important;
    font-weight: normal !important;
    font-size: 15px !important;
    color: #797979 !important;
}

.modal-content {
    border-radius: 0px !important;
}

.modal-footer .btn + .btn {
    font-family: 'Yekan' !important;
}



.ma1 {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    background-color: transparent !important;
}

fieldset {
    padding-bottom: 3px !important;
}

.k-rtl .k-grid-header .k-with-icon .k-link {
    font-family: 'Yekan' !important;
}

.well {
    font-family: 'Yekan' !important;
    background-color: #f7f7f7 !important;
    border: 1px solid #eee !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}


.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
    /*font-family: 'Yekan' ;*/
}


.k-picker-wrap {
    background-image: url(textures/highlight.png) #fff;
    /*background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.45)),to(rgba(255,255,255,0)));
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.45) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;*/
    background-color: #fff !important;
}

.ma55 .k-rtl {
    margin-right: 15px !important;
    margin-bottom: 10px !important;
}

input[disabled] {
    background-color: #fff !important;
}

.ma22 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.profile-sidebar {
    background-color: #fff !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.list-group-item {
    background-color: #eee !important;
    border-right: 2px solid #93a3b5 !important;
    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-top: 4px;
}

{
    color: #5b9bd1 !important;
    background-color: #C7DFEF !important;
    border-right: 2px solid #5b9bd1 !important;
}

.k-state-border-up {
    background-color: #eee !important;
}

.ma2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ma3 {
    padding-left: 0px !important;
}

.patopparlef2 {
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}

.pabott {
    padding-bottom: 10px !important;
}


.ma10 {
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}

.paright5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.heinp {
    height: 26px !important;
}

.marbot100 {
    margin-bottom: 10px !important;
}

.form-control {
    box-shadow: none !important;
    border-radius: 0px !important;
}

.padleft10 {
    padding-left: 10px !important;
}

.padleft101 {
    padding-right: 10px !important;
    padding-left: 0px !important;
    padding-bottom: 10px !important;
}


.padleftrightbot {
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}

.paddrightl {
    padding-right: 0px !important;
}

.paddrightl0 {
    padding-left: 10px !important;
}

.form-control {
    color: #00435e !important;
}

.paddpot5 {
    padding-bottom: 10px !important;
}

.disbl {
    display: block;
}

img.persneliii {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #eee;
}

.padtoppadbot {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.panel-primary > .panel-heading {
    color: #00435e !important;
    background-color: #f7f7f7 !important;
    border-color: #eee !important;
}

.panel-primary {
    border-color: #eee !important;
}

.panel-default {
    border: 1px solid #eee !important;
}

.martop220 {
    margin-top: 20px !important;
}

ul.nav li .ng-scope .active {
    border-top: none !important;
}

/*.k-widget {
    border: 1px solid #e1dbdb !important;
}
*/

.bi1 {
    padding-right: 10px !important;
    padding-left: 0px !important;
    padding-bottom: 8px !important;
    margin-top: 0px !important;
}

.bi11 {
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 8px !important;
    margin-top: 0px !important;
}

.disde {
    display: flex;
    margin-bottom: 10px !important;
}

.butr {
    margin-left: 3px !important;
    background-color: #0078d7;
    border: 1px solid #eee;
    color: #fff;
}

.marbottre {
    margin-bottom: 10px !important;
}

.buutdel {
    background-color: rgba(254,1,3,0.8) !important;
    color: #fff !important;
    border: 1px solid #eee !important;
}

.profile-usermenu ul li.active {
    border-top: none !important;
}

.profile-usermenu ul li {
    padding: 0px;
    background-color: #eee !important;
    border-right: 2px solid #93a3b5 !important;
}

.taeen {
    padding-top: 0px !important;
    margin-top: 0px !important;
}



.k-calendar .k-today.k-state-hover {
    background-color: #eee !important;
}

.k-calendar td.k-state-selected.k-state-hover {
    background-color: #eee !important;
    background-image: none;
}

.marbot8 {
    margin-bottom: 8px !important;
}

.k-datepicker {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #dddada !important;
}

.k-state-hover {
    background-color: #eee !important;
}

span .k-picker-wrap .k-state-default .k-state-hover .k-state-focused {
    background-color: #eee !important;
}

.k-picker-wrap.k-state-focused {
    background-color: #fff !important;
    border: 1px solid #e4e0e0 !important;
}

.k-picker-wrap.k-state-hover {
    background-color: #fff !important;
    border: 1px solid #e4e0e0 !important;
}

.k-dropdown-wrap.k-state-hover {
    background-color: #fff !important;
}

.k-dropdown-wrap.k-state-default {
    background-color: #fff !important;
}

.paddleftr {
    padding-left: 0px !important;
}

.marbottt22 {
    margin-bottom: 8px !important;
}

.martop10 {
    margin-top: 10px !important;
}

.profile-content {
    padding-top: 0px !important;
}

.padmartop {
    padding-top: 0px !important;
    margin-top: 2px !important;
}

.marbotrow {
    margin-bottom: 10px !important;
}


.alltabtop {
    position: relative !important;
    height: 100% !important;
    /*overflow:auto !important;*/
}


.k-rtl {
    font-family: 'Yekan';
}

.padfr {
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}
.profile-usermenu li:hover{
    background-color: #e1e1e1 !important;
    border-right:2px solid #3476e4 !important;
}


.marbottywq {
    margin-bottom: 9px !important;
}

.paaasriuy {
    padding-right: 10px !important;
}

.paaasriuy2 {
    margin-bottom: 5px !important;
}

.mar5right {
    margin-right: 5px !important;
}


fieldset[disabled] .form-control {
    color: #00435e !important;
    border-radius: 2px !important;
    background-color: #f7f7f7 !important;
    opacity: 1;
    border: 1px solid #dddada !important;
    font-size: 13px !important;
    box-shadow: none !important;
}

.teawqp {
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}

.qwerta {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.plptu {
    padding-left: 0px !important;
    padding-bottom: 10px !important;
}

.maqk {
    margin-right: 4px !important;
}

table.k-selectable {
  /*  width: 100% !important;*/
}

textarea[disabled], input[disable] {
    background-color: #f7f7f7 !important;
}

k-state-disabled {
    background-color: #f7f7f7 !important;
}

.pn-select > a.dropdown-toggle.disabled {
    background-color: #f7f7f7 !important;
}

pn-date-picker[disabled] {
    background-color: f7f7f7 !important;
}

.k-picker-wrap .k-state-disabled {
    background-color: #f7f7f7 !important;
}

/*.k-picker-wrap .k-input {

    background-color:#fff !important;

}*/
.well {
    padding: 24px !important;
}


.profile-content {
    padding: 20px;
    background: #fff;
}




.accordion-header {
    height: 26px;
}

#calendar .k-calendar {
    width: auto !important;
}

.k-state-select, .k-state-hover {
    color: none !important;
}


.k-widget {
    margin-top: 0px;
}

.allbod {
    border-top: 1px solid #8b9097;
    overflow: auto;
    height: 83%;
    width: 84%;
    position: fixed;
    left: 0;
    background-color: #fff !important;
    overflow-x: hidden;
}
/**pn-tab**/
    .uiTabs {
        margin: 0px;
        list-style-type: none;
    }

        .uiTabs li div {
            margin: 0px;
        }

    .pn-tabs {
        border: 1px solid #dddddd;
        width: 100%;
        height: 100%;
        /*position: fixed;*/
        background-color: #eaedf1;
    }

    .pn-tab-header {
        display: table;
        direction: ltr;
    }

        .pn-tab-header ul {
            margin: 0px;
            padding: 0px;
        }

            .pn-tab-header ul li {
                /*margin: 1px;*/
                list-style: none;
                display: inline-block;
                border-top: 1px solid cadetblue;
                border-left: 1px solid cadetblue;
                border-right: 1px solid cadetblue;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

                .pn-tab-header ul li a {
                    text-decoration: none;
                    font-family: Tahoma;
                    font-size: 12px;
                }

    .pn-tab-container {
        padding: 0px;
        border: 1px solid #8b9097;
        margin: 0px;
        /*overflow: auto;*/
    }

    .pn-tab-close {
        border: 1px solid red;
        height: 20px;
        width: 20px;
        position: relative;
        top: -6px;
        left: 6px;
    }

        .pn-tab-close:hover {
            cursor: pointer;
        }

    .pn-tab-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .pn-tab-list li {
        float: left;
        border: 1px solid #eaedf1;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        padding: 5px 5px 0px 5px;
        background-color: #eaedf1;
        color: #696969;
    }

    #mainView {
        border: 1px solid #000;
        clear: both;
        padding: 0 1em;
    }

    .ng-scope .active {
        background-color: #FFF;
        color: #000;
    }
li.li-pn-tab {
    padding-top: 2px; padding-bottom: 0px;cursor:pointer;
}
.pn-tab-header-link2 {
    padding-left: 2px;color:black;font-size:16px;
}
img.close-image {
cursor:pointer; width: 16px; height: 16px;}
    /**end pntab**/


.k-widget * ,.k-widget {
    box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    }
input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
/**fieldGrouplist**/
    #main {
       
        display: flex;
    }
.margin-top15 {
margin-top:15px;}
#look-css {
    top: 4px !important;
}
    #Comments {
        max-width: 100%;
        width: 83%;
        margin-right: -7px;
    }

    #RegionsNote {
        font-size: 16px;
        color: red;
    }

    #Regions {
        margin-right: -8px;
    }

    #line1 {
        margin-bottom: 8px;
    }

    #rdOrgUnit {
        margin-right: 12px;
    }

    #rdRegions {
        margin-right: 10px;
    }

    #btnDelete {
       background-color: rgb(226, 117, 117);
       margin-right: 465px;
    }
.padd-filedset{
padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    margin-right: 10px !important;}


.mar-bot-8 {
margin-bottom:8px !important}

.line-sum{
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #eee;
    background-color: #edf9ff;
    margin-bottom:10px !important;
}
.padd-bot-8 {
padding-bottom:8px !important;}
.well input[type="text"]{
height:auto !important;}
span.k-picker-wrap input {
height:20px !important}
/*.k-grid-header-wrap table {
width:100% !important;}
.k-grid-content table {
width:100% !important;}*/
.personalinfo-mar-top5{
margin-top:5px !important}
input:focus {
border:1px solid #bab9b9 !important;}
.k-grid th.k-header,
.k-grid th.k-header .k-link{
background-color:#eaecee !important;}
.k-state-disabled {
color:#1e435e !important;}
.form-control[disabled] {
background-color:#f7f7f7 !important;}
.profile-usermenu ul li:last-child {
        border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.k-grid-filter{
background-color:#eaecee !important}
.k-widget {
    border-color:#e4e0e0 !important;
}
.k-pager-numbers li {
background-color:#fff !important;}
/*****/
  .row-top {
        padding-top: 10px;
    }
    #AssignLicenseComments {
        margin-right: -24px;
    }

    .FooterPage {
        width: 33%;
        height: inherit;
        display: inline-block;
    }
    #Comments{max-width: 100%;
    width: 84%;
    margin-right: -7px;}
.k-window-title {
        top: -8px !important;
}
.k-window-actions {
        top: -11px !important;
}
.lookup-martop .k-rtl {
margin-top:0px !important}

 .k-rtl .k-picker-wrap .k-input{
    height: 20px !important;
    border: none !important;
}
.k-picker-wrap .k-input {
border:none !important;}
  #FieldItem {
        z-index: 10000001;
    }

    #Comments {
       width: 100%;
        /*width: 130%;*/
        margin-right: -6px;
    }

    .textBox {
        max-width: 100%;
    }
      .k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
        padding-right: 0px;
    }

    .k-checkbox:indeterminate + .k-checkbox-label:after {
        margin-left: 2px;
        margin-top: 8px;
    }

    .k-treeview span.k-in {
        margin-bottom: -3px;
        margin-top: 7px;
        height: 20px;
    }

    .rootfolder {
        position: relative;
        padding: 0px 2px;
    }

    .openFolder {
        color: orange;
    }

    .groupRole {
        color: orange;
    }

    .role {
        color: blue;
    }

    .k-sprite {
        font-size: 14px;
        line-height: 14px;
    }

    .rootTreeNode {
        color: red;
        font-size: 18px;
    }

    .k-rtl .k-treeview .k-sprite {
        padding-left: 5px;
    }

    .marrr2{padding-right:0px !important;padding-left:0px !important;
    }
    .profile-content {
    }
    .marto10 {
    margin-top:8px !important;}
    .marbot10 {
        padding-bottom: 10px !important;
    }
    .pale {
    padding-left:0px !important;}

    .parightpaleft{
    padding-left:10px !important;padding-bottom: 10px !important;}
    .noeitem {
        font-size:13px;color: #8a8888 !important;
    }
    .fico{
        color:#93a3b5
    }
        .k-pane {
        overflow: hidden !important;
    }
        /**assignlicenseview***/
            input[type="text"], select, input[type="number"] {
        height: 34px;
        width: 100%;
    }

    .panel-footer {
        border-top: 0px solid #ddd;
    }

    .profile {
        margin-top: 10px;
    }
    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-usermenu {
        /*margin-top: 30px;*/
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 16px;
                /*font-weight:bold;*/
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #e1e1e1 !important;
                    border-right:1px solid #3476e4;
                    color: #5b9bd1;
                }

            .profile-usermenu ul li.active {
                border-top: none !important;
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #e1e1e1;
                    border-right: 2px solid #5b9bd1;
                    margin-right: -2px;
                }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    #RecruitmentLicenseComments {
        max-width: 126%;
        width: 130%;
        margin-right: -6px;
    }

    .textBox {
        max-width: 100%;
    }

    .ma2 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ma3 {
        padding-left: 0px !important;
    }

    .ma2 .k-rtl {
       /* margin-right: 15px !important;
        margin-bottom: 10px !important;*/
    }

    .ma4 {
        padding-right: 0px !important;
    }


    .ma5 li {
        background-color: #f7f7f7 !important;
        border-right: 2px solid #eee !important;
    }

        .ma5 li:hover {
        }
        /****/
          .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        } 
              .profile-content {
        padding: 20px;
        background: #fff;
    }
.log-out {
    position: absolute;height:35px;top: 0px;left:0px;padding:5px;
}
.pad-listtakhsis{
padding-left:10px !important;padding-right:10px !important;padding-bottom:10px !important}
.k-pager-wrap {
padding-right:10px;}
.k-state-disabled {
opacity:1 !important;}
.div-pn-look{
display:inline-flex}
.empoly-css{
    padding-left:0px !important;padding-right:0px !important;padding-top:0px !important;margin-top:0px !important
}
.empolyee-css {
    padding-top: 11px; padding-right: 0px; padding-left: 0px;
}
.empolyee-css2 {
    width: 65.5%
}
.personel-css {
    padding-right: 0px;
}
.fieldview-css {
    text-align:left
}
.fieldview-css2 .dropdown-menu{
    z-index:4000000000
}
.entityview {
    z-index:50000000
}
.entityview-texaligh{
text-align:left}
.dynamicEntity-css{
z-index:0;}
.dynamicEntity-css2 .dropdown-menu{
z-index:20000000 !important}
.dynamicEntity-css3{
z-index:30000000}
img.recEmplo{
width: 75px; height: 75px; margin-top: 15px;}
/***assignLicense****/
  input[type="text"], select, input[type="number"] {
        height: 34px;
        width: 100%;
    }

    .panel-footer {
        border-top: 0px solid #ddd;
    }

    .profile {
        margin-top: 10px;
    }
    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-usermenu {
        /*margin-top: 30px;*/
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 16px;
                /*font-weight:bold;*/
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #fafcfd;
                    color: #5b9bd1;
                }

            .profile-usermenu ul li.active {
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #C7DFEF;
                    border-right: 2px solid #5b9bd1;
                    margin-right: -2px;
                }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }
.alert-css {
    margin:5px 0px
}
.listlog-css{
margin-top: 5px;}
.formulaview-css {
margin-top:20px;}
.right-css {
    height: 100%;margin-top: 0px;
}
.creattable{
z-index:5000000}
img.systemfeature{
width:80px;height:58px;}
.insertStructure {
    width:90% !important; height:auto !important
}
.insertStructure-grid {
    display:flex;
}
.insertStructure-grid2 {
    width:40%;height:350px;
}
.insertStructure-grid3{
width:69%;height:350px;}
.insertStructure-dir{
direction: rtl;}
{
width:50% !important}
.insertTree-width {
    width:50% !important
}
/**set role user**/
 .k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
        padding-right: 0px !important;
    }

    .k-checkbox:indeterminate + .k-checkbox-label:after {
        margin-left: 2px !important;
        margin-top: 8px !important;
    }

    .k-treeview span.k-in {
        margin-bottom: -3px !important;
        margin-top: 7px !important;
        height: 20px !important;
    }

    .rootfolder {
        position: relative !important;
        padding: 0px 2px !important;
    }

    .openFolder {
        color: orange !important;
    }

    .groupRole {
        color: orange !important;
    }

    .role {
        color: blue !important;
    }

    .k-sprite {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .rootTreeNode {
        color: red !important;
        font-size: 18px !important;
    }

    .k-rtl .k-treeview .k-sprite {
        padding-left: 5px !important;
    }
.list-rol-icon{
color:#eee}
.listlog-martop{
margin-top: 5px;}
.setrole{
width: 100%}
.setpermiss-mar{
margin-top:30px}
.setpermission-mar{
max-width:100%;margin-right:-35px;}
.testfourmul-mar{
padding-left: 0px;}
.testfourmul-marbo{
margin-bottom: 8px}
.mathematical {
    background-color:red;height:200px;width:200px;
}
.testview{
border:1px solid red;height:500px;width:400px;margin:auto;overflow:scroll;}
.set-organization {
    margin:20px 0px
}
.testtree {
    overflow: hidden; height: 600px; width: 100%;
}
    .k-pane {
        overflow:hidden!important
    }
    /***setpermission***/
     .k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
        padding-right: 0px !important;
    }

    .k-checkbox:indeterminate + .k-checkbox-label:after {
        margin-left: 2px !important;
        margin-top: 8px !important;
    }

    .rootfolder {
        position: relative !important;
        padding: 0px 2px !important;
    }
     
    .actions {
        color: forestgreen !important;
    }

    .tabgroup {
        color: blue !important;
    }

    .forms {
        color: red !important;
    }

    .system {
        color: orangered !important;
    }

    .k-sprite {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
        padding-right: 0px !important;
    }

    .k-checkbox:indeterminate + .k-checkbox-label:after {
        margin-left: 2px !important;
        margin-top: 8px !important;
    }

    .k-treeview span.k-in {
        margin-bottom: -3px !important;
        margin-top: 7px !important;
        height: 20px !important;
    }

    .openFolder {
        color: orange;
    }

    .groupRole {
        color: orange !important;
    }

    .role {
        color: blue !important;
    }

    .k-sprite {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .rootTreeNode {
        color: red !important;
        font-size: 18px !important;
    }

    .k-rtl .k-treeview .k-sprite {
        padding-left: 5px !important;
    }
    /******/
        input[type="checkbox"] {
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
        cursor: pointer;
    }
.creat-activae{
width:100%}
.creat-activae-wi{
max-width:100%}
 .k-widget {
                margin-top: 0px; 
            }
.creat-user{
width: 100%;padding-left:0px !important;padding-right:0px !important}
img.creat-userimg{
width: 70px; height: 75px; margin-top: 25px;}
.pnlook-width{
width: 900px;}
.pnlook-style {margin-right:0px !important;margin-left:0px !important;padding-left:0px !important;padding-right:0px !important
}
   .pn-hierarchy-meta th {
        text-align: center;
    }
    .pn-hierarchy-meta .header {
        background-color: silver;
    }
    .pn-hierarchy-meta-body {
        padding-left: 8px;
        padding-right: 2px;
    }
    .pn-hierarchy-meta-body .last-td {
        padding-left: 0;
    }
.dis-inline{
display: inline-flex;}
.pn-treeview{
padding: 20px 2px;}

.pn-tab-size{
font-size:14px;}
.pn-ribbon-style{
display:inline;border:0px;background-color:transparent;}
    .uneditable-input {
        background-color: #ffffff;
        border-color: #eee;
        /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);*/
        /*-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);*/
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
        cursor: not-allowed;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
        float: none;
        margin-left: 0;
        font-size: 13px;
        line-height: 18px;
        color: #555555;
        border: 1px solid #cccccc;
    }

    .input-large {
        width: 210px;
    }
.home-view {
    width: 250px; margin: 5px; position: fixed;
}
.panelbar-width{
width:200px;}
.dialog-dir{
direction: rtl;}
.Ribbon-App-Test {
    display:none !important;
}
.pn-hier-wi{
width: 50%;}
.pn-hier-wi2 {
    width: 100%;
}
.pn-hier-wi3{
width: 100px;}
input.pn-hierar-input{
width: 100%; max-width: 100%;}
.pn-hierar-row{
width: 90%}
.pn-hierar-td{
width: 25%;}
.pn-hierarchy-description{
width: 70px}
.pn-hierar-align{
text-align: center;}
 .pn-hierarchy-editor th {
        text-align: center;
    }
    .pn-hierarchy-editor input {
        max-width: 100%;
    }
    .pn-hierarchy-editor .header {
        background-color: silver;
    }
    .pn-hierarchy-editor-body {
        padding-left: 8px;
        padding-right: 2px;
    }
    .pn-hierarchy-editor-body .last-td {
        padding-left: 0;
    }
    
    .pn-hierarchy-editor .code-element{
        direction: ltr;
    }
.header-th1 {
width: 200px;}
.pn-hierarchy-align{
text-align: center}
.pn-formula-dir{
direction: rtl}
.pn-entity-viewer-width{
width: 900px;}
.accordion-dis{
display: block;}
.Ribbon-dis {display:none;
}
.setpermission-mar{margin-right: 10px !important;}
.setpermission-pad{
    padding-left: 0px !important;
    padding-bottom: 10px;}
.setpermission-pad0{
    padding-right: 0px;
    padding-left: 0px;}
.list-group-item:first-child {
   border-top-left-radius:0px !important;
   border-top-right-radius:0px !important;
}
.accordion-style{
width: 250px; margin: 5px; border: 1px solid #b6babf;padding:5px;position:fixed;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));}
.k-grid-header{
    background-color:#eaecee !important;
}
.period-list{
padding-left: 0px !important;
    padding-right: 0px !important;}
.period-tab{
margin-top:10px !important;}
.period-pad{
    padding-left: 10px !important;
    padding-right: 0px !important;padding-bottom:10px !important;}
html input[type="button"]{
background-color:transparent !important;border:none !important}
.structurecode{
    padding-left: 0px !important;}
.listview{min-height:400px;
}
.radio input[type="radio"],.radio-inline input[type="radio"] {
margin-right:-20px !important}
.periodEditView-padd-le{
padding-left:0px !important}

.periodEditView-fieldset{
background-color: transparent !important;
    border: none !important;
    color: #333 !important;}
.periodEditView-row{
margin-bottom:10px !important;}
.periodEditView-padd {
padding-bottom:10px !important;}
.k-grid td {
cursor:pointer;}
.period-edit-padd{
    padding-right: 20px !important;}
.min-height-periodedit{
min-height: 161px;}
.pn-hi {
margin-bottom:0px !important;
padding:10px !important}
    .pn-hi table tr.header {
    background-color:#eaecee;}
        .pn-hi table tr.header th {
        font-size:13px;font-weight:normal;color:#00435e;}
.pn-hi .slimScrollDiv{
    border:1px solid #e4e0e0;
}
.pn-hi .pn-hierarchy-editor-body{padding-left:0px !important;padding-right:0px !important;
}
.periodEditView-mar-tp{
margin-top: 0px !important;}
