<h1>   {{title}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <input class="form-control"
                       type="text"
                       name="myDate"
                       dir="ltr"
                       placeholder="yyyy/mm/dd"
                       datepicker-popup-persian="{{format}}"
                       is-persian="isPersian"
                       ng-model="myDate"
                       is-open="myDateIsOpen"
                       clear-text="پاک کردن"
                       current-text="امروز"
                       close-text="بستن"
                       changeculture-text="تقویم میلادی" />


                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openMyDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <label translate>TempView.EntryString</label>
                <pn-textbox id="txtFirstName"></pn-textbox>
            </p>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <pn-button value="ثبت اطلاعات"></pn-button>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <pn-checkbox id="check1"></pn-checkbox>
            </p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <pn-radio id="radio"></pn-radio>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <label translate>TempView.JustNumber</label>
                <pn-textbox-decimal id="decimal" placeholder="فقط اعشار"></pn-textbox-decimal>
            </p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <label>TempView.JustNumber</label>
                <pn-textbox-float id="float" placeholder="فقط اعشار"></pn-textbox-float>
            </p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <label translate>TempView.JustNumber </label>
                <pn-textbox-number id="number" placeholder="فقط عدد"></pn-textbox-number>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <label translate >TempView.JustNumber</label>
                <pn-textbox-price id="price" placeholder="فقط عدد"></pn-textbox-price>
            </p>
        </div>
    </div>

</div>

