<div class="container">
    <form role="form" name="createForm" class="acitveForm" ng-submit="onSaveToolbar()">
        <!--نمایش گروه ها-->
        <fieldset ng-disabled="disableTableGroup">
            <!----------------------------------------------------------------انتخاب جداول------------------------------------------------------------------>
            <legend translate>
                CreateDynamicFieldView.SelectedTable
            </legend>
            <!--ردیف اول-->
            <div class="row">
                <!--زیر سیستم-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="SubSystemCode" translate> CreateDynamicFieldView.SubSystemSelectedItem </label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="SubSystemCode"
                                        ng-disabled="disableTableGroup"
                                        ng-model="cacheDynamicEntity.SystemName"></pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--گروه جدول-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="TableGroupId" translate> CreateDynamicFieldView.TableGroupsSelectedItem </label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="TableGroupId"
                                        ng-disabled="disableTableGroup"
                                        ng-model="cacheDynamicEntity.TableGroup">

                            </pn-Textbox>
                        </div>
                    </div>
                </div>
                <!-- جدول-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="TableKey" translate>  CreateDynamicFieldView.TableSelectedItem</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="TableKey"
                                        ng-disabled="disableTableGroup"
                                        ng-model="cacheDynamicEntity.PersianName">
                            </pn-Textbox>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-----------------------------------------------------------------------نمایش فرم فیلد ها -------------------------------------------------------- -->
        <fieldset ng-disabled="disableCreateForm">
            <!--ایجاد فیلد-->
            <legend translate>
                CreateDynamicFieldView.CreateField
            </legend>
            <!--ردیف اول-->
            <div class="row">
                <!--کد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldCode" translate>CreateDynamicFieldView.DynamicFieldCode  </label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox-number id="FieldCode"
                                               ng-model="dynamicField.FieldCode"
                                               ng-disabled="disableCreateForm" ></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!--کمترین-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="MinRange" translate> CreateDynamicFieldView.Minimum</label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox-number id="MinRange"
                                               ng-model="dynamicField.MinRange"
                                               ng-disabled="disableCreateForm"></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!--تغییر ورژن-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="ModifyVersion" translate> CreateDynamicFieldView.ModifyVersion </label>
                        </div>
                        <div class="col-md-4">
                            <input id="ModifyVersion"
                                   ng-model="dynamicField.ModifyVersion"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>

            </div>
            <!--ردیف دوم-->
            <div class="row">
                <!--ردیف-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldOrder" translate>CreateDynamicFieldView.FieldOrder  </label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox-number id="FieldOrder"
                                               ng-model="dynamicField.FieldOrder"
                                               ng-disabled="disableCreateForm">
                            </pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!--بیشترین-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="MaxRange" translate>CreateDynamicFieldView.Maximum  </label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox-number id="MaxRange"
                                               ng-model="dynamicField.MaxRange"
                                               ng-disabled="disableCreateForm"></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!--فیلد کلید-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsPrimaryKey" translate> CreateDynamicFieldView.IsPrimaryKey</label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsPrimaryKey"
                                   ng-model="dynamicField.IsPrimaryKey"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>
            </div>
            <!--ردیف سوم-->
            <div class="row">
                <!--شرح لاتین-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="LatinName" translate> CreateDynamicFieldView.DynamicFieldEnglishName </label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox class="enAlpha fieldview-css"
                                        placeholder="لطفا انگلیسی تایپ کنید"
                                        id="LatinName"
                                        ng-model="dynamicField.LatinName"
                                        ng-disabled="disableCreateForm">
                            </pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--طول-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="Length" translate>CreateDynamicFieldView.Length  </label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox-number id="Length"
                                               ng-model="dynamicField.Length"
                                               ng-disabled="disableCreateForm"></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!-- فیلد Identity-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsIdentity" translate>CreateDynamicFieldView.IdentityField </label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsIdentity"
                                   type="checkbox"
                                   ng-model="dynamicField.IsIdentity"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>
            </div>
            <!--ردیف چهارم-->
            <div class="row">
                <!--نام مستعار-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldAlias" translate>  CreateDynamicFieldView.FieldAlias</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="FieldAlias"
                                        ng-model="dynamicField.FieldAlias"
                                        ng-disabled="disableCreateForm">
                            </pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--نوع ویرایش -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldItemsTypeEdit" translate> CreateDynamicEntityView.EntityTypeEdit </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="FieldItemsTypeEdit"
                                       ng-disabled="disableCreateForm"
                                       custom-select="s.FieldItemId as s.Value for s in TableTypeEdit  | filter: { Value: $searchTerm }"
                                       ng-model="dynamicField.FieldItemsTypeEditKey"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
                <!--اطلاعات تکراری-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsRepeated" translate> CreateDynamicFieldView.DuplicateInformation </label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsRepeated"
                                   ng-model="dynamicField.IsRepeated"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>

            </div>
            <!--ردیف پنجم-->
            <div class="row">
                <!--شرح فارسی-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="PersianName" translate> CreateDynamicFieldView.DynamicFieldPersianName</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="PersianName"
                                        ng-model="dynamicField.PersianName"
                                        ng-disabled="disableCreateForm">
                            </pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--حالت فیلد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldKinds" translate> CreateDynamicFieldView.FieldMode </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="FieldKinds" class="fieldview-css2"
                                       ng-disabled="disableCreateForm"
                                       custom-select="s.FieldKindsKey as s.FieldKindsDesc for s in FieldKinds | filter: { FieldKindsDesc : $searchTerm }"
                                       ng-model="dynamicField.FieldKindsKey"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
                <!--اطلاعات اختیاری-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsEmpty" translate>CreateDynamicFieldView.IsEmpty  </label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsEmpty"
                                   ng-model="dynamicField.IsEmpty"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>
            </div>
            <!--ردیف ششم-->
            <div class="row">
                <!-- شرح گروه فیلد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="Sys5FieldGroup" translate> CreateDynamicFieldView.FieldGroupDesc </label>
                        </div>
                        <div class="col-md-8">
                            <pn-textbox id="Sys5FieldGroup"
                                        ng-model="dynamicField.Sys5FieldGroup"
                                        ng-disabled="disableCreateForm">
                            </pn-textbox>
                        </div>
                    </div>
                </div>
                <!--نوع فیلد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="TypesCode" translate> CreateDynamicFieldView.TypeField </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="TypesCode" class="fieldview-css2"
                                       ng-disabled="disableCreateForm"
                                       custom-select="s.TypesCode as s.TypesTitle for s in FieldSructure | filter: { TypesTitle: $searchTerm }"
                                       ng-model="dynamicField.TypesCode"
                                       ng-change="changeFieldTypes()"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>              
                <!--Is Yes-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsYes" translate>CreateDynamicFieldView.IsYes  </label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsYes"
                                   ng-model="dynamicField.IsYes"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>

            </div>
            <!--ردیف هفتم-->
            <div class="row">
                <!--گروه فیلد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="FieldGroup" translate>CreateDynamicFieldView.FieldGroup</label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="FieldGroup" class="fieldview-css2"
                                       ng-disabled="disableCreateForm"
                                       custom-select="s.Key as s.Description for s in FieldGroup | filter: { Description: $searchTerm }"
                                       ng-model="dynamicField.FieldGroupKey"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
                <!--گروه آیتم ها-->
                <div class="col-md-4">
                <div class="form-group">
                        <div class="col-md-4">
                            <label for="ItemGroupDesc" translate> CreateDynamicFieldView.ItemGroupDesc </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="ItemGroupDesc" class="fieldview-css2"
                                       ng-disabled="disableItemGroup"
                                       custom-select="s.ItemGroupId as s.Description for s in ItemGroup | filter: { Description: $searchTerm }"
                                       ng-model="dynamicField.ItemGroupKey"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
                <!--سیستمی-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="IsSys" translate>CreateDynamicFieldView.IsSys  </label>
                        </div>
                        <div class="col-md-4">
                            <input id="IsSys"
                                   ng-model="dynamicField.IsSys"
                                   type="checkbox"
                                   ng-disabled="disableCreateForm" />
                        </div>
                    </div>
                </div>
            </div>
            <!--ردیف هشتم-->
            <div class="row">
                <!--ساختار سایر جداول-->
                <div ng-Hide="hideOtherTablesSturctureBtn">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-4">                              
                            </div>
                            <div class="col-md-8">
                                <pn-button id="btnStructure" value="ساختار سایر جداول" ng-click="doInsertOtherTablesStructure()"></pn-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <!-- گرید-->
    <pn-gridview config="gridConfig"
                 class="k-gridwithheader"
                 columns="gridColumns"
                 schema="gridSchema"
                 api="gridApi"
                 on-kendo-ready="onReadyGrid(kendo)"
                 on-kendo-data-bound="DynamicFieldGrid_onDataBound(kendo)"
                 selecteditems="selectedItems">
    </pn-gridview>
</div>
