<div class="modal fade insertStructure-dir">
    <div class="modal-dialog insertStructure">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>{{title}}</b></h4>
            </div>

            <div class="modal-body">
                <div class="insertStructure-grid">
                    <!--گرید جداول-->
                    <div class="insertStructure-grid2" id="grid">
                        <pn-gridview name="tablesGrid"
                                      config="gridConfigTables"
                                     class="k-gridwithheader"
                                     columns="gridColumnsTables"
                                     schema="gridSchemaTables"
                                     api="gridApiTables"
                                     on-kendo-ready="Tables_onKendoReady(kendo, options)"
                                     on-kendo-data-bound="TablesGrid_onDataBound(kendo)"
                                    
                                     selecteditems="selectedTablesItems">
                        </pn-gridview>
                    </div>
                    <!--گرید فیلد ها-->
                    <div id="grid" class="insertStructure-grid3">
                        <pn-gridview name="fieldsGrid"
                                      config="gridConfigFields"
                                     class="k-gridwithheader"
                                     columns="gridColumnsFields"
                                     schema="gridSchemaFields"
                                     api="gridApi"
                                     on-kendo-ready="Fields_onKendoReady(kendo, options)"
                                     on-kendo-data-bound="FieldsGrid_onDataBound(kendo)"
                                     selecteditems="selectedFieldsItems"
                                     on-select-row="onSelectRow(data)">
                        </pn-gridview>
                </div>
            </div>
            <p> {{message}}</p>
        </div>
        <div class="modal-footer">
            <div ng-show="isQuestion">
                <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">{{noTitle}}</button>
                <button type="button" ng-click="close(true)" class="btn btn-default" data-dismiss="modal">{{yesTitle}}</button>
            </div>

            <div ng-hide="isQuestion">
                <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">تایـیـد</button>
            </div>

        </div>
    </div>
</div>
</div>