<div class="container">

    <form role="form" name="defineTables" id="createForm" class="acitveForm" novalidate>
        <fieldset ng-disabled="disableSystemForm">

            <legend translate>DefineTable.Name</legend>
            <!--ردیف اول-->
            <div class="row mar-bot-8">
                <!--کد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4" for="code" translate>DefineTable.Code</label>
                        <div class="col-md-8">
                            <pn-textbox-number id="relCode"
                                               name="code"
                                               ng-model="obj.relation.Code">
                            </pn-textbox-number>
                        </div>
                    </div>
                </div>
                <!--شرح-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="relationDesc" translate> DefineTable.Desc</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="relationDesc" name="relationDesc" ng-model="obj.relation.Description" ng-disabled="disableSystemGroupTextBox"></pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--تعداد ارتباط-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="countLevel" translate> DefineTable.CountLevel</label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="countLevel"
                                       name="countLevel"
                                       custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                       ng-model="obj.relation.CountLevel"
                                       ng-disabled="disableSystemGroupTextBox"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row mar-bot-8">
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Table1</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Field1</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
            </div>

            <div class="row mar-bot-8">
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Table2</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Field1</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
            </div>

            <div class="row mar-bot-8">
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Table3</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="countLevel" translate> DefineTable.Field1</label>
                    </div>
                    <div class="col-md-8">
                        <pn-select id="countLevel"
                                   name="countLevel"
                                   custom-select="s.id as s.name for s in obj.relation.levels | filter: { name: $searchTerm }"
                                   ng-model="obj.relation.CountLevel"
                                   ng-disabled="disableSystemGroupTextBox"
                                   autofocus>
                        </pn-select>
                    </div>
                </div>
            </div>


        </fieldset>
    </form>
</div>