<div class="pn-tabs">
    <div class="pn-tab-header">
        <ul class="pn-tab-list">
            <li ui-sref="{{tab.action}}" class="li-pn-tab" ng-repeat="tab in $root.openedTaps"
                ng-class="{active:tab.isActive}"
                ng-click="onClickTab(tab)">
                <a class="pn-tab-header-link pn-tab-header-link2">{{tab.title}}</a>
                <img ng-click="close(tab)" class="close-image" src="../../../Content/images/close.png" />

            </li>
        </ul>
    </div>
    <div class="pn-tab-container pn-tab-ui-views">
        <ul class="uiTabs alltabtop">
            <li ng-repeat="uiTab in uiTabs" ui-view="{{uiTab}}" ng-show="$state.includes(uiTab)"></li>
        </ul>

    </div>
</div>
