<div class="panel panel-primary">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body entity-viewer-shell-body ">
        <div class="panel-group children" role="tablist" aria-multiselectable="true">
        </div>

    </div>
    <div class="panel-footer" ng-hide="options.noFooter">
        <div class="row">
            <div class="col-md-11">
                <form ng-submit="searchNext()">
                    <div class="input-group">
                        <input type="text" class="form-control shell-input-search" select-on-click ng-model="search" placeholder="جستجو" >
                        <span class="input-group-btn">
                             <button class="btn btn-default btn-sm" type="button" ng-click="searchNext()">
                                 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                             </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div kendo-window="memeoEditor.window"
     k-title="'ویرایشگر'"
     k-visible="false"  k-modal="true" class="k-rtl" >
    <div class="pn-entity-viewer-width">
        <textarea kendo-editor="memeoEditor.editor" k-ng-model="memeoEditor.value" k-resizable="true"></textarea>
        <button type="button" ng-click="memeoEditor.save()" class="btn btn-default">ذخیره</button>
    </div>
</div>