<!--<div ng-include="'/app/partials/entityViewer.html'"></div>--> 

<div class="col-md-4 empolyee-css">
    <pn-entity-viewer options="options"
                      on-change="onChange(data)"
                      api="entityViwerApi"
                      title="{{enityViewerTitle}}"
                      on-ready="onEnityViewerReady()"
                      height="calc(90vh - 350px)">
    </pn-entity-viewer>
</div>
<div class="col-md-8 empolyee-css2">
    <pn-gridview config="gridConfig"
                 class="k-gridwithheader"
                 columns="gridColumns"
                 schema="gridSchema"
                 api="gridApi"
                 on-kendo-ready="onKendoReady(kendo, options)"
                 selecteditems="selectedItems"></pn-gridview>
</div>
    </div>
    </form>


