
<form role="form" name="createForm" id="createForm" class="acitveForm">
    <div class="row">
        <div class="col-md-12 personel-css">
            <pn-gridview config="gridConfig"
                         class="k-gridwithheader"
                         columns="gridColumns"
                         schema="gridSchema"
                         api="gridApi"
                         on-kendo-ready="onKendoReady(kendo, options)"
                         selecteditems="selectedItems"></pn-gridview>
        </div>
    </div>
</form>



