<div class="container">

    <fieldset class="padfr">
        <legend translate>
            AssignLicenseView.List
        </legend>

        <pn-gridview config="gridConfig"
                     class="k-gridwithheader"
                     columns="gridColumns"
                     schema="gridSchema"
                     api="gridApi"
                     on-kendo-data-bound="provincegrid_onDataBound(kendo)"
                     selecteditems="selectedItems">
        </pn-gridview>

    </fieldset>

    <!--<div class="row profile">
        <div class="col-md-2 ma4">
            <div class="profile-sidebar">
                <div class="profile-usermenu">


                  <ul class="nav ma5">
                        <li ng-class="{active:item.isActive}" ng-click="onClickTab(item)" ng-repeat="item in MenuItems">
                            <a ui-sref="{{item.url}}">
                                {{item.title}}
                                <span style="font-size:14px;"
                                      class="pull-left glyphicon glyphicon-{{item.icon}}">
                                </span>
                            </a>
                        </li>
                    </ul>





                </div>
            </div>
        </div>
        <div class="col-md-10 ma3" >
            <div class="profile-content ma2 taeen" >
                <div ui-view>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-12">
            <pn-tab data="tab"></pn-tab>
        </div>
    </div>
</div>