

<div class="container" ng-hide="showUI">
    <div class="alert alert-danger alert-css">
        <strong translate>AssignLicenseView.Note</strong>
        <h4 translate>AssignLicenseView.Warring</h4>
        <div class="text-center">
            <span class="btn btn-primary" ng-click="doCancel()">
                <span class="fa fa-user" translate>AssignLicenseView.ReturnToList</span>
            </span>
        </div>
    </div>
</div>

<form role="form" name="createForm" class="acitveForm" ng-show="showUI" novalidate>
    <fieldset>
        <legend translate>
            AssignLicenseView.Create
        </legend>

        <div class="row mar-bot-8" id="line1">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="radio" name="rdOrgUnit" value="rdOrgUnit" id="rdOrgUnit" ng-checked="rdOrgUnit" ng-click="SelectRadioOrgUnit()" ng-disabled="disableCtrFormRd"> تخصیص به اداره کل استان<br>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="radio" name="rdRegions" value="rdRegions" id="rdRegions" ng-checked="rdRegions" ng-click="SelectRadioRegions()" ng-disabled="disableCtrFormRd"> تخصیص به منطقه<br>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <pn-lookup options="optionsRegions" name="Regions" id="Regions" ng-show="rdRegions" pn-required required-message="منطقه انتخاب نشده است"></pn-lookup>

                </div>
            </div>


        </div>

        <div class="row mar-bot-8">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="FieldItem" translate>AssignLicenseView.FieldItem</label>
                    <div class="col-md-8">
                        <pn-select id="FieldItem" name="FieldItem" ng-model="AssignLicense.Regions.FieldItemsOrder"
                                   custom-select="F.Order as F.Value for F in FieldItems | filter: { Value : $searchTerm }" ng-change="ChangeFieldItems()" ng-disabled="disableCtrForm"
                                   autofocus pn-required required-message="نوع مجوز استخدامی انتخاب نشده است"></pn-select>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="Count" translate>AssignLicenseView.Count</label>
                    <div class="col-md-8">
                        <pn-textbox-number id="Count" ng-model="AssignLicense.Regions.Count" ng-disabled="disableCtrFormCount"></pn-textbox-number>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-bot-8">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="WomenCount" translate>AssignLicenseView.WomenCount</label>
                    <div class="col-md-8">
                        <pn-textbox-number id="WomenCount" ng-model="AssignLicense.Regions.WomenCount" ng-disabled="disableCtrFormCount"></pn-textbox-number>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="MenCount" translate>AssignLicenseView.MenCount</label>
                    <div class="col-md-8">
                        <pn-textbox-number id="MenCount" ng-model="AssignLicense.Regions.MenCount" ng-disabled="disableCtrFormCount"></pn-textbox-number>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-bot-8">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2" for="Comments" translate>AssignLicenseView.Comments</label>
                    <textarea rows="2" id="Comments" ng-model="AssignLicense.Regions.Desc" ng-disabled="disableCtrForm"></textarea>
                </div>
            </div>
        </div>

        <fieldset class="padd-filedset">
            <legend translate>
                AssignLicenseView.PersonnelSelect
            </legend>

            <div class="row mar-bot-8">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-5" for="Personnel" translate>AssignLicenseView.PersonnelFamily</label>
                        <div class="col-md-7">
                            <pn-lookup options="optionsPersonnel" name="Personnel" api="apiPersonnel" extra-data="extraPersonnel"></pn-lookup>
                        </div>
                    </div>

                </div>
                <!--<div class="col-md-8">
                    <div class="form-group">
                        <button id="btnDelete" ng-click="removeFromArray()" ng-disabled="disableCtrForm" translate>Public.Delete</button>
                    </div>
                </div>-->

            </div>

            <div class="row line-sum">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-5" for="Count" translate>AssignLicenseView.CountTotal</label>
                        <div class="col-md-7">
                            <pn-textbox-number id="CountTotal" ng-model="AssignLicense.Regions.CountTotal" ng-disabled="disableCtrFormCountTotal"></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-5" for="WomenCount" translate>AssignLicenseView.WomenCountTotal</label>
                        <div class="col-md-7">
                            <pn-textbox-number id="WomenCountTotal" ng-model="AssignLicense.Regions.WomenCountTotal" ng-disabled="disableCtrFormCountTotal"></pn-textbox-number>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-5" for="MenCount" translate>AssignLicenseView.MenCounTotal</label>
                        <div class="col-md-7">
                            <pn-textbox-number id="MenCountTotal" ng-model="AssignLicense.Regions.MenCountTotal" ng-disabled="disableCtrFormCountTotal"></pn-textbox-number>
                        </div>
                    </div>
                </div>


            </div>
            <pn-gridview class="k-gridwithheader"
                         config="gridConfig_PersonnelSelect"
                         columns="gridColumns_PersonnelSelect"
                         schema="gridSchema_PersonnelSelect"
                         api="gridApi"
                         on-kendo-ready="PersonnelSelect_onKendoReady(kendo, options)"
                         selecteditems="PersonnelSelectedItems"
                         on-kendo-data-bound="grid_onDataBound(kendo)"
                         ng-disabled="disableCtrForm">
            </pn-gridview>

        </fieldset>

    </fieldset>
</form>



