   
    <fieldset class="acitveForm pad-listtakhsis" >
        <legend translate>
            AssignLicenseView.ListRegions
        </legend>

        <pn-gridview config="gridConfig1" class="k-gridwithheader "
                     columns="gridColumns1" schema="gridSchema1"
                    selecteditems="regionSelectedItems"
                     on-kendo-ready="onRegionReadyGird(kendo,options)"
                     on-kendo-data-bound="gridRegion_onDataBound(kendo)"
                     api="gridApi1" >
        </pn-gridview>

    </fieldset>


    <fieldset class="pad-listtakhsis">
        <legend translate>
            AssignLicenseView.PersonnelChoosedRegions
        </legend>

        <pn-gridview config="gridConfig2" class="k-gridwithheader"
                     columns="gridColumns2" schema="gridSchema2"
                     on-kendo-ready="onPersonelReadyGird(kendo, options)"                     
                     on-kendo-data-bound="gridPersonel_onDataBound(kendo)"
                     api="gridApi2" selecteditems="personelSelectedItems">
        </pn-gridview>

    </fieldset>
