<div class="container acitveForm marrr2 mar5right">

    <form role="form" name="createForm" id="createForm" class="acitveForm">
        <fieldset ng-disabled="disableManipulateForm" class="padmartop">
            <legend>
                <span class="list-rol-icon fa fa-{{itemTypeImage}}"></span> {{itemTypeTitle}}
            </legend>


            <div class="row">
                <div class="col-md-12 noeitem">
                    <span class="fa fico fa-{{itemTypeImage}}"></span>  &nbsp;نوع آیتم &nbsp;:&nbsp;
                    {{itemType}}
                </div>
            </div>

            <div class="row marto10">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5" for="codeCtrl" translate>Common.Code</label>
                        <div class="col-md-7">
                            <pn-textbox id="codeCtrl" ng-disabled="disableEntryForm" ng-model="selectedDataItem.Code" Maxlength="2"></pn-textbox>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5" for="titleCtrl" translate>Common.Title</label>
                        <div class="col-md-7">
                            <pn-textbox id="titleCtrl" ng-disabled="disableEntryForm" ng-model="selectedDataItem.Title" Maxlength="50"></pn-textbox>
                        </div>
                    </div>
                </div>

                

            </div>

            <div class="row marto10">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-1" for="descriptionCtrl" translate>Common.Description</label>
                        <div class="col-md-11">
                            <textarea id="descriptionCtrl" ng-disabled="disableEntryForm" cols="20" class="form-control"
                                      ng-model="selectedDataItem.Description" Maxlength="255"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row martop10">
               
                <div class="col-md-6 " ng-show="isRole">
                    <div class="form-group">
                        <label for="organizationLevel" class="control-label col-md-5">سطح سازمانی</label>
                        <div class="col-md-7">
                            <pn-select custom-select="s.Id as s.Title for s in organizationLevels | filter: { Title: $searchTerm }"
                                       ng-model="selectedDataItem.OrganizationLevelCode" name="organizationLevel" ng-disabled="disableManipulateForm"
                                       ng-style="{'z-index':'2001'}" autofocus></pn-select>
                        </div>
                        </div>
                    </div>
                
                <div class="col-md-6" ng-show="isRole">
                    <div class="form-group">
                        <label for="otherLevelAccess" class="control-label col-md-5">دسترسی به سطوح دیگر</label>
                        <div class="col-md-7">
                        <pn-select custom-select="s.Id as s.Title for s in subLevels | filter: { Title: $searchTerm }"
                                   ng-model="selectedDataItem.SubOrganizationLevelCode"
                                   name="otherLevelAccess" ng-disabled="disableManipulateForm"
                                   id="subOrganizationLevelCodeId"
                                   ng-style="{'z-index':'2001'}" autofocus></pn-select>
                            </div>
                        </div>
                    </div>
                                                              
            </div>

            <div class="row marto10">

                <div class="col-md-6" ng-show="isRole">
                    <div class="form-group">
                    <label for="HasAccessSelfLevel" class="control-label col-md-5">دسترسی به اطلاعات سطح جاری</label>
                        <div class="col-md-7">
                    <pn-checkbox id="HasAccessSelfLevel" ng-disabled="false" name="HasAccessSelfLevel" ng-model="selectedDataItem.HasAccessSelfLevel"></pn-checkbox>
                  </div>
                </div> 
               </div>
            </div>



        </fieldset>
    </form>

    <fieldset ng-disabled="true" class="parightpaleft">
        <legend translate>Common.RoleOrGroupTree</legend>
        <div class="col col-md-12 pale" ng-disabled="true">

            <pn-treeview config="treeviewConfig" on-ready="treeviewOnReady(kendo)">
            </pn-treeview>

        </div>
    </fieldset>
</div>

