<div class="container">
    <fieldset ng-disabled="disableItemGroupForm" disabled="disabled">
        <legend translate>
            AssignLicenseView.Title
        </legend>

        <div class="row marbottywq">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>  مشاهده لیست مجوز ها و انتخاب یک شماره مجوز:</label>
                    </div>
                    <div class="col-md-9">
                        <pn-lookup options="options"></pn-lookup>
                    </div>
                </div>
            </div>

        </div>
        <div class="row marbottywq">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="FieldItemsValue" translate>RecruitmentLicenseView.FieldItem</label>
                    <div class="col-md-8">
                        <pn-textbox id="FieldItemsValue" ng-model="RecruitmentLicense.FieldItemsValue" ng-disabled="disableCtrAssignLicenseForm" class="textBox"></pn-textbox>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="Subject" translate>RecruitmentLicenseView.Subject</label>
                    <div class="col-md-8">
                        <pn-textbox id="Subject" ng-model="RecruitmentLicense.Subject" ng-disabled="disableCtrAssignLicenseForm" class="textBox"></pn-textbox>
                    </div>
                </div>
            </div>

        </div>
        <div class="row marbottywq">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="SolarDate" translate>RecruitmentLicenseView.Date</label>
                    <div class="col-md-8">
                        <pn-textbox id="SolarDate" ng-model="RecruitmentLicense.SolarDate" ng-disabled="disableCtrAssignLicenseForm" class="textBox"></pn-textbox>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="RecordDate" translate>RecruitmentLicenseView.RecordDate</label>
                    <div class="col-md-8">
                        <pn-textBox id="RecordDate" ng-model="RecruitmentLicense.SolarRecordDate" ng-disabled="disableCtrAssignLicenseForm" class="textBox"> </pn-textBox>
                    </div>
                </div>
            </div>
        </div>
        <div class="row marbottywq">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2" for="Comments" translate>RecruitmentLicenseView.Comments</label>
                    <div class="col-md-8">
                        <textarea id="RecruitmentLicenseComments" ng-model="RecruitmentLicense.Comments" ng-disabled="disableCtrAssignLicenseForm"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <div class="row">
        <div class="col-md-12 qwerta">
            <pn-tab data="tab"></pn-tab>
        </div>
    </div>
</div>




