<div class="container">
    <form role="form" name="createForm" class="acitveForm" ng-submit="onSaveToolbar()">
        <fieldset ng-disabled="disableSystems" class="paddpot5">
            <!-----------------------------------------------------انتخاب گروه سیستمی--------------------------------------------------------->
            <legend translate>
                CreateSystemFeatureView.Systems
            </legend>
            <div class="row">
                <!--انتخاب سیستم-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="SystemCode" translate>CreateSystemFeatureView.SystemSelectedItem </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="SystemCode" class="creattable"
                                       ng-disabled="disableTableGroup"
                                       custom-select="s.SystemId as s.Name for s in systemNames | filter: { Name: $searchTerm }"
                                       ng-model="systemSelectedItemId"
                                       ng-change="getSubSystemsByParentId()"
                                       autofocus>
                                       
                            </pn-select>
                        </div>
                    </div>
                </div>
                <!--انتخاب زیر سیستم-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="SubSystemCode" translate> CreateSystemFeatureView.SubSystemSelectedItem</label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="SubSystemCode"
                                       ng-disabled="disableTableGroup"
                                       custom-select="s.SystemId as s.Name for s in subSystemNames | filter: { Name: $searchTerm }"
                                       ng-model="subSystemSelectedItemId"
                                       ng-change="reloadTreeList()"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset ng-disabled="disableSystemFeatureForm">
            <legend translate>
                CreateSystemFeatureView.Definition
            </legend>
            <!--ردیف اول-->
            <div class="row">
                <!--کد-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="SystemFeatureCode" translate>CreateSystemFeatureView.SystemFeatureCode</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="SystemFeatureCode" ng-model="systemFeature.SystemFeatureCode"></pn-Textbox>
                        </div>
                    </div>
                </div>
                <!-- نوع جدول -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="TypesTitle" translate>CreateSystemFeatureView.TypesTitle </label>
                        </div>
                        <div class="col-md-8">
                            <pn-select id="TypesTitle"
                                       ng-disabled="disableSystemFeatureForm"
                                       custom-select="s.Code as s.Title for s in TableSqlType | filter: { Title: $searchTerm }"
                                       ng-model="systemFeature.TypesTitle"
                                       autofocus>
                            </pn-select>
                        </div>
                    </div>
                </div>

                <!--Icon-->
                <div class="col-md-4">
                    <label for="Icon" translate>  CreateSystemFeatureView.Icon </label>
                    <img src="{{systemFeature.Icon}}"  alt="User View" class="systemfeature">
                </div>

            </div>
            <!--ردیف دوم-->
            <div class="row">
                <!--شرح -->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="Desc" translate>CreateSystemFeatureView.SystemFeatureTitle</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="Desc" ng-model="systemFeature.SystemFeatureTitle"></pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--شرح لاتین-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="LatinName" translate>CreateSystemFeatureView.LatinName</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox class="cell-align fieldview-css" id="LatinName" ng-model="systemFeature.LatinName"></pn-Textbox>
                        </div>
                    </div>
                </div>
            </div>
            <!--ردیف سوم-->
            <div class="row">
                <!--Action-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="Action" translate>CreateSystemFeatureView.Action</label>
                        </div>
                        <div class="col-md-8">
                            <pn-Textbox id="Action" ng-model="systemFeature.Action"></pn-Textbox>
                        </div>
                    </div>
                </div>
                <!--فعال-->
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="IsActive" translate>CreateSystemFeatureView.IsActive</label>
                        </div>
                        <div class="col-md-8">
                            <input id="IsActive" type="checkbox" ng-model="systemFeature.IsActive" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <!--گرید-->
    <pn-Treelist config="treeListConfig"
                 api="treeListApi"
                 on-ready="onTreeListReady(kendo, option)"
                 selectedItems="selectedItems"
                  />

</div>