<div class="accordion-style">
    <div class="accordion panel-group">
        <div class="accordion-section panel panel-primary">
            <a class="accordion-section-title open active panel-heading" href="#accordion-1">کارتابل ورودی</a>
            <div id="accordion-1" class="accordion-section-content panel-body active accordion-dis">
                موارد کاربرد :
                تنظیم و ارسال کارهایی که کاربران باید در طول روز ، هفته یا ماه انجام دهند
                به کارتابل آنان .
                یادآوری کارهایی که باید انجام گردد بطوریکه کاربر می تواند برای خود و یا
                برای کاربران دیگر کار تعریف نماید و نرم افزار می تواند این کارها را در موعد
                انجام آن بوسیلهء پاپ آپ ، پیامک و ایمیل به کاربران یاد آوری نماید .
                ارسال کارها ارسال کارها بوسیلهء پیامک در زمان مشخص به موتورسواران یا همکارانی
                که کارهای بیرون شرکت را انجام می دهند .
                ارسال ایمیل یا پیامکتبریک تولد ، تشکر بابت خرید ، اطلاع رسانی سررسید چک
                ، اتمام بیمه نامه و یا موارد دیگر به مشتریانی که پروندهء آنان ثبت شده به این
                صورت که این تاریخ ها در پروفایل آنان ثبت می گردد و به محض رسیدن به آن تاریخ
                نرم افزار پیامهای از قبل ثبت شده را به آنان ارسال می نماید .
                ارسال کار توسط مدیر به کارتابل کاربران با امکان تعیین زمان شروع و مهلت انجام
                کار و قابلیت ارسال نتیجه انجام کار و توضیحات آن پس از انجام توسط کاربران و ارسال
                نتیجه به مدیر ارسال کننده .
            </div>
        </div>

        <div class="accordion-section open active panel panel-primary">
            <a class="accordion-section-title panel-heading" href="#accordion-2">ابزارها </a>
            <div id="accordion-2" class="accordion-section-content panel-body ">
                اتوماسیون
                در این قسمت می توان پیغامهایی که می خواهیم برای کاربران یا برای پرونده ها ارسال
                گردد تعیین نمود . این ارسالها میتواند بصورت پاپ آپ ، پیامک و ایمیل باشد .
                این اتوماسیون ها به دو صورت می تواند ثبت گردد :
                در صورتی که بخواهیم این متن عینا برای کاربر و یا پرونده ای ارسال گردد ،
                آن متن را درون یک اتو ماسیون جدید بسته به انتخاب شما در قسمت پاپ آپ ، پیامک
                و ایمیل درج می گردد . مانند پیامهای تبریک تولد ، سررسید چک ، اتمام بیمه نامه
                ، برگزاری دوره آموزشی و …
                بعضی مواقع متن کاری که میخواهیم به پرسنل یا مشتریان ارسال کنیم ثابت نمی
                باشد و در قالب کاری است که میخواهیم به کاربر ارجاع دهیم در این مواقع متن پاپ
                آپ یا پیامک می تواند شامل همان متنی باشد که ما در کارتابل برای خود و یا دیگران
                کار ایجاد می نماییم و به عبارت بهتر متنی متغیر می باشد و برای هر کار به صورت
                اختصاصی اطلاع رسانی آن فرق می کند . بعنوان مثال می خواهیم به کاربر کاری ارجاع
                دهیم مبنی بر اینکه با آقای ایکس تماس بگیرد و شرایط فروش را به او اعلام کند و
                در این مواقع این توضیحات را می توان درون همان کاری که ارجاع می نماییم نوشته
                شود و نوشتن این متن هم در کارتابل و هم ساخت اتوماسیون برای آن وقتگیر می شود
                برای این قبیل کارها می توان اتوماسیون پاپ آپ یا پیامک را در عنوان و در توضیحات
                خط تیره “-” قرار داد . نرم افزار با دیدن خط تیره همان متن نوشته شده در کارتابل
                را برای کاربر پیامک ، یا پاپ آپ ارسال می کند .
            </div>
        </div>

        <div class="accordion-section open active panel panel-primary">
            <a class="accordion-section-title panel-heading" href="#accordion-3">تنظیمات</a>
            <div id="accordion-3" class="accordion-section-content panel-body ">
                بخش اتوماسیون و کارتابل جهت انجام کارها بصورت اتوماتیک در نرم افزار قرار داده
                شده است . بدین ترتیب که با برنامه ریزی کاربران برنامه زمانبندی کارها و پیغام
                هایی که باید از طریق پاپ آپ ، پیامک و ایمیل ارسال شود انجام می پذیرد .بخش اتوماسیون و کارتابل جهت انجام کارها بصورت اتوماتیک در نرم افزار قرار داده
                شده است . بدین ترتیب که با برنامه ریزی کاربران برنامه زمانبندی کارها و پیغام
                هایی که باید از طریق پاپ آپ ، پیامک و ایمیل ارسال شود انجام می پذیرد .
            </div>
        </div>


    </div>
</div>



