<div class="pn-formula-dir">
    <button type="button" class="btn btn-default btn-sm" ng-click='addLine(false)' ng-disabled="!canAddLine()">
          <span class="glyphicon glyphicon-plus"></span> ایجاد خط
        </button>
    <button type="button" class="btn btn-default btn-sm" ng-click='insertLine("befor")' ng-disabled="!canInsertBeforLine()">
          <span class="	glyphicon glyphicon-plus"></span> درج  قبل از خط
    </button> 
         <button type="button" class="btn btn-default btn-sm" ng-click='insertLine("after")' ng-disabled="!canInsertLine()">
          <span class="	glyphicon glyphicon-plus"></span> درج بعد از خط
    </button>  
    <button type="button" class="btn btn-default btn-sm"  ng-click='deleteLine()' ng-disabled="formulaScope.currentLineIndex==-1">
        <span class="	glyphicon glyphicon-trash"></span> حدف خط
    </button> 
    
    <button type="button" class="btn btn-default btn-sm"  ng-click='deleteGroup()' ng-disabled="!canDeleteGroup()">
        <span class="	glyphicon glyphicon-trash"></span> حدف گروه
    </button>
     <button type="button" class="btn btn-default btn-sm"  ng-click='deleteItem()' ng-disabled="formulaScope.currentItemIndex==-1">
          <span class="	glyphicon glyphicon-trash"></span>حذف آیتم
     </button>   
    
    <button type="button" class="btn btn-default btn-sm"  ng-click='validationAllItems()'>
        <span class="	glyphicon glyphicon-trash"></span>اعتبار سنجی فرمول
    </button>
    <button type="button" class="btn btn-default btn-sm"  ng-click='SaveToServer()'>
          <span class="glyphicon glyphicon-floppy-disk"></span>ذخیره فرمول
    </button>  
      <button type="button" class="btn btn-default btn-sm"  ng-click='GetFromServer("frml1")'>
          <span class="	glyphicon glyphicon-saved"></span>بازیابی فرمول
        </button>
</div>
