<div class="panel panel-default panel-primary">
   <div class="panel-body">
    <div class="container">
        <table class="table table-bordered table-striped header-fixed" >
            <thead>
                <tr class="header">
                    <td>
                        ردیف
                    </td>
                     <td>
                        <a href="#">متغیر
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="variable in formulaScope.variables |filter:searchvariable ">
                    <td ng-dblclick="selectVariable($index)">{{$index+1 }}</td>
                    <td ng-dblclick="selectVariable($index)" class="variable-caption">{{ variable.caption }}</td>
                    <td class="variable-action">
                        <button type="button" class="btn btn-default btn-sm" ng-click="deleteVariable($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="variable-add">
        <input type="text" class="input" ng-model="newVariableCaption">
            <button type="button" class="btn btn-default btn-sm"  ng-click="createVariable()" ng-disabled="!canAddNewVariable()">
          <span class="	glyphicon glyphicon-plus"></span> ایجاد متغیر
    </button>  
    </div>
</div>

</div>