{{test}}


<div class="container">
    <div class="ItemGroup">
        <div class="ItemGroupGrid1">
            <form role="form" name="createForm" id="createForm" class="acitveForm">
                <fieldset ng-disabled="disableItemGroupForm" disabled="disabled">
                    <legend translate>
                        CreateItemGroupView.ListGroup
                    </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="Code" translate>CreateItemGroupView.ListGroupCode</label>
                            </div>
                            <div class="col-md-11">
                                <pn-textbox-number id="Code" ng-model="ItemGroup.Code" Maxlength="2" ng-disabled="disableCtrlItemGroupForm"></pn-textbox-number>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="Description" translate> CreateItemGroupView.ListGroupDescription</label>
                            </div>
                            <div class="col-md-11">
                                <pn-Textbox id="Description" ng-model="ItemGroup.Description" ng-disabled="disableCtrlItemGroupForm"></pn-Textbox>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
     </div>
</div>