
<form role="form" class="acitveForm">
    <fieldset class="bi1">
        <legend translate>
            CreateFieldGroup.ListGroup
        </legend>
        <div id="main">
            <div class="col-md-2">
                <pn-gridview config="gridConfigListGroup"
                             class="k-gridwithheader"
                             columns="gridColumnsListGroup"
                             schema="gridSchemaListGroup"
                             api="gridApiListGroup"
                             on-kendo-ready="onListGroupReadyGird(kendo)"
                             on-kendo-data-bound="gridListGroup_onDataBound(kendo)"
                             selecteditems="selectedItemsListGroup">

                </pn-gridview>
            </div>
            <div class="paddrightl0 col-md-10">
                <pn-gridview config="gridConfigListType"
                             class="k-gridwithheader"
                             columns="gridColumnsListType"
                             schema="gridSchemaListType"
                             api="gridApiListType"
                             on-kendo-ready="onListTypeReadyGird(kendo)"
                             on-kendo-data-bound="gridListType_onDataBound(kendo)"
                             selecteditems="selectedItemsListType">
                </pn-gridview>
            </div>

        </div>
    </fieldset>
    </form>
