<style>
   #btnDelete {
        background-color: rgb(226, 117, 117);
        margin-right: 310px;
    }
</style>
<form role="form" name="createForm" class="acitveForm"  novalidate>
    <fieldset ng-disabled="disableCtrForm" class="bi11">
        <legend translate>
            CreateFieldGroup.Create
        </legend>
 

        <div class="row marbottre">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-5" for="Code" translate>CreateFieldGroup.Code</label>
                    <div class="col-md-7">
                        <pn-textbox-number id="Code" ng-model="FieldGroup.OrderNo" pn-required required-message="کد خالی است" ></pn-textbox-number>
                    </div>
                </div>
            </div>
   
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-5" for="Desc" translate>CreateFieldGroup.Desc</label>
                    <div class="col-md-7">
                        <pn-textbox rows="2" id="Desc" ng-model="FieldGroup.Description"  pn-required required-message="شرح خالی است"></pn-textbox>
                    </div>
                    </div>
            </div>
        </div>

          <div class="row marbottre">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5"  translate>CreateFieldGroup.Type</label>
                        <div class="col-md-7">
                            <pn-lookup options="optionsType" name="Type"></pn-lookup>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button id="btnDelete" ng-click="removeFromArray()"  translate class="buutdel">Public.Delete</button>
                    </div>
                </div>

            </div>
        <pn-gridview config="gridConfigListType"
                     class="k-gridwithheader"
                     columns="gridColumnsListType"
                     schema="gridSchemaListType"
                     api="gridApiListType"
                      on-kendo-data-bound="gridListType_onDataBound(kendo)"
                     on-kendo-ready="TypeSelect_onKendoReady(kendo, options)"
                     selecteditems="selectedItemsListType">
        </pn-gridview>

         

        </fieldset>
</form>