<div class="panel panel-primary  pn-hierarchy-meta-body">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td class="pn-hier-wi">
                    <table class="pn-hier-wi2">
                        <tr>
                            <td class="pn-hier-wi3">
                                <span>شرح ساختار</span>
                            </td>
                            <td>
                                <input type="text" ng-model="data.head.description" class="pn-hierar-input" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="pn-hier-wi3">
                    تعداد سطوح
                </td>
                <td>
                    <input type="number" ng-disabled="editable==false" ng-model="data.head.count" min="1" class="pn-hierar-row" />
                </td>
                <td class="last-td pn-hierar-td" width=":150px">
                    <table class="pn-hier-wi2">
                        <tr>
                            <td style="width:46px">
                                <span>تعداد سطوح شرح کامل:</span>

                            </td>
                            <td class="pn-hierarchy-description">
                                <input  type="number" style="width:60px" ng-model="data.head.descriptionRows" min="1" max="{{data.head.count}}" class="pn-hierarchy-description" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:46px">
                    <span>تعداد سطوح غیرعملیاتی:</span>

                </td>
                <td>
                    <input type="number" style="width:60px" ng-disabled="!editable" ng-model="data.head.countNoAction" min="0" class="pn-hierar-row" />
                </td>
            </tr>
        </tbody>
        <tr class="header">
            <th>عنوان سطح</th>
            <th>طول سطح</th>
            <th>شماره گذاری</th>
            <th class="last-td">وضعیت</th>
        </tr>
        <tr ng-repeat="row in data.rows">
            <td>
                <table class="pn-hier-wi2">
                    <tr>
                        <td class="pn-hier-wi3">
                            <div>
                                <span>سطح </span>
                                {{$index + 1}}
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="row.title" class="pn-hierar-input" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <input type="number" ng-disabled="!editable" ng-model="row.rowLength" min="1" class="pn-hier-wi2" />
            </td>
            <td class="pn-hierar-align">
                <input type="checkbox" ng-model="row.isAutomatic" />
                <span>اتوماتیک</span>
            </td>
            <td class="last-td" colspan="3">
             
                <select ng-model="row.state" ng-disabled="row.status || !editable">
                    <option ng-repeat="opt in config.rowStateOptions" value="{{opt.id}}">{{opt.title}}</option>
                </select>
            </td>
        </tr>
    </table>
</div>
