<div class="modal" id="password_modal">
    <div class="modal-header">
        <h3>تغییر رمز عبور<span class="extra-title muted"></span></h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label for="current_password" class="control-label">کلمه عبور فعلی</label>
            <div class="controls">
                <input type="password" name="current_password">
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">کلمه عبور جدید</label>
            <div class="controls">
                <input type="password" name="new_password">
            </div>
        </div>
        <div class="control-group">
            <label for="confirm_password" class="control-label">تایید کلمه عبور</label>
            <div class="controls">
                <input type="password" name="confirm_password">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">انصراف</button>
        <button href="#" class="btn btn-primary" id="password_modal_save">ثبت تغییرات</button>
    </div>
</div>