<div class="container acitveForm creat-user">

    <!--<span class="btn btn-primary" ng-click="doApplay()">
        <span class="fa fa-save"></span>   تایید  
    </span>-->

    <form role="form" name="createForm" id="createForm"
          class="activeForm ng-pristine ng-valid ng-valid-maxlength">

        <fieldset class="pabott">
            <legend translate>Common.UserInfo</legend>

            <div class="row mar-bot-8">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userTypeControl" class="control-label col-md-3" translate>Common.UserType</label>
                        <div class="col-md-9">
                        <pn-select custom-select="s.FieldItemId as s.Value for s in userTypes | filter: { Value: $searchTerm }"
                                   ng-model="user.UserTypeId"
                                   ng-style="{'z-index':'2001'}" autofocus></pn-select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                    <label for="userNameContorl" class="control-label col-md-3" translate>Common.UserName</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control col-md-9" ng-model="user.UserName" id="userNameContorl"
                                   placeholder="نام کاربری">
                            </div>
                        </div>
                </div>

                </div>
            <div class="row mar-bot-8">

                <div class="form-group col-md-6">
                    <label for="passwordContorl" class="control-label col-md-3" translate>Common.Password</label>
                    <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="user.Password" id="passwordContorl"
                           placeholder="کلمه عبور">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="expireDateContorl" class="control-label col-md-3" translate>Common.ExpireDate</label>
                    <div class="col-md-9">
                    <pn-date-picker type="text" ng-model="user.ExpireDate" id="expireDateContorl"
                                    placeholder="تاریخ انقضاء">
                        </div>
                </div>

            </div>

            <div class="row mar-bot-8">
                
                <div class="form-group col-md-6" ng-hide="isSystemUser">
                    <label for="prefixControl" class="control-label col-md-3" translate>Common.Suffix</label>
                    <div class="col-md-9">
                        <pn-select custom-select="s.FieldItemId as s.Value for s in suffixes | filter: { Value: $searchTerm }"
                                   ng-model="user.SuffixId"
                                   ng-style="{'z-index':'2000'}" autofocus></pn-select>
                    </div>
                </div>

                <div class="form-group col-md-6" ng-hide="isSystemUser">
                    <label for="lanControl" class="control-label col-md-3" translate>Common.Language</label>
                    <div class="col-md-9">
                        <pn-select custom-select="s.FieldItemId as s.Value for s in languages | filter: { Value: $searchTerm }"
                                   ng-model="user.LanguageId"
                                   ng-style="{'z-index':'2000'}" autofocus></pn-select>
                    </div>
                </div>

            </div>

        
            <div class="row">

                <div class="form-group col-md-6 " ng-hide="isSystemUser">
                    <label for="nationalContorl" class="control-label col-md-3" translate>Common.WelCome</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="nationalContorl" ng-model="user.Salution"
                               placeholder="خوش آمدگویی">
                    </div>
                </div>

            </div>





        </fieldset>

        <fieldset ng-hide="hidePersonliSearch" class="pabott">
            <legend translate>Common.PesonelSearch</legend>

            <div class="row">
                <div class="form-group col-md-6">
                    <div class="row">

                        <div class="col col-md-3">
                            <label for="personalNoContorl" class="control-label" translate>Common.EmployeeId</label>
                        </div>

                        <div class="col col-md-7">
                            <pn-lookup options="optionsPersonnel" name="Personnel"></pn-lookup>
                        </div>

                    </div>
                </div>
            </div>
            
        </fieldset>

        <fieldset ng-hide="hidePersonRegion" ng-disabled="disableEmployee" class="pabott">
            <legend>اطلاعات شخص</legend>
            <div class="row">
                <div class="border col-md-1">
                    <img  src="../../../Content/images/user-profile-icon.png" class="creat-userimg" />
                         
                </div>
                <div class="border col-md-11">
                    <div class="row">
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> کد ملی: </label>
                            <pn-Textbox id="GroupDescription" ng-model="user.NationalId"></pn-Textbox>
                        </div>
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> نام:  </label>
                            <pn-Textbox id="GroupDescription" ng-model="user.FirstName"></pn-Textbox>
                        </div>
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> شماره شناسنامه:</label>
                            <pn-Textbox id="GroupDescription" ng-model="user.BirthCertificateId"></pn-Textbox>
                        </div>
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> تاریخ تولد:</label>
                            <pn-date-picker id="Date" ng-model="user.BirthDate" ></pn-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> شماره پرسنلی: </label>
                            <pn-Textbox id="GroupDescription" ng-model="user.EmployeeId"></pn-Textbox>
                        </div>
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> نام خانوادگی:</label>
                            <pn-Textbox id="GroupDescription" ng-model="user.LastName"></pn-Textbox>
                        </div>
                        <div class="border col-xs-3">
                            <label for="GroupDescription"> نام پدر:</label>
                            <pn-Textbox id="GroupDescription" ng-model="user.FatherName"></pn-Textbox>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset ng-show="isCompany" class="pabott">
            <legend>اطلاعات شرکت</legend>
            <div class="row">
                <!-- Load from Prefix Service -->
                <div class="form-group col-md-3">
                    <label for="prefixControl" class="control-label">نام شرکت</label>

                    <input type="text" class="form-control" ng-model="user.CompanyName" id="birthDateContorl"
                           placeholder="نام شرکت">
                </div>

                <div class="form-group col-md-3">
                    <label for="lanControl" class="control-label"> کد اقتصادی</label>
                    <input type="text" class="form-control" ng-model="user.EconomicalNo" id="birthDateContorl"
                           placeholder="کد اقتصادی">
                </div>

                <div class="form-group col-md-3">
                    <label for="birthDateContorl" class="control-label">شناسه ملی</label>
                    <input type="text" class="form-control" ng-model="user.RegistrationNo" id="birthDateContorl"
                           placeholder="شناسه ملی">
                </div>

                <div class="form-group col-md-3 " ng-show="false">
                    <label for="nationalContorl" class="control-label">شماره ثبت</label>
                    <input type="text" class="form-control" id="nationalContorl" ng-model="user.RegistrationNo"
                           placeholder="شماره ثبت">
                </div>

            </div>

        </fieldset>
     
    </form>

</div>

