

<div class="container acitveForm paright5">
    <form role="form" name="createForm" id="createForm"
          class="acitveForm ng-pristine ng-valid ng-valid-maxlength">
        <fieldset class="pabott">
            <legend translate>Common.UserAddress</legend>

            <div class="row marto10">

                <div class="form-group col-md-6">
                    <label for="emailContorl" class="control-label col-md-4">عنوان</label>
                    <div class="col-md-8">
                        <input type="email" ng-model="user.Title" class="form-control heinp" id="emailContorl"
                               placeholder="ایمیل">
                    </div>
                    </div>

                <div class="form-group col-md-6">
                    <label for="mobileCtrl" class="control-label col-md-4">تلفن همراه</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="user.Title" class="form-control" id="mobileCtrl"
                               placeholder="تلفن همراه">
                        </div>
                    </div>

          </div>
                <div class="row marto10">

                    <div class="form-group col-md-6">
                        <label for="phoneCtrl" class="control-label col-md-4">تلفن ثابت</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="user.Title" class="form-control" id="phoneCtrl"
                                   placeholder="تلفن ثابت">
                            </div>
                        </div>

                    <div class="form-group col-md-6">
                        <label for="preNumCtrl" class="control-label col-md-4">پیش شماره</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="user.Title" class="form-control" id="preNumCtrl"
                                   placeholder="پیش شماره">
                            </div>
                        </div>

                </div>

        </fieldset>
    </form>
</div>
