<div class="container acitveForm ma2" >
    <fieldset>
        <legend translate>Common.LogChangePass</legend>
        <div class="container ma3 paddpot5">
            <pn-gridview config="gridConfig"
                         class="k-gridwithheader"
                         columns="gridColumns"
                         schema="gridSchema"
                         api="gridApi"
                         on-kendo-ready="onKenoReady(kendo)"
                         selecteditems="selectedItems">
            </pn-gridview>
        </div>
    </fieldset>
</div>

